In [33]:
import pandas as pd
import os
from datetime import datetime

In [21]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
citibike_dataset = os.path.join('./201908-citibike-tripdata.csv')
citibike_df = pd.read_csv(citibike_dataset)
citibike_df.sample(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1716201,1327,2019-08-23 16:19:54.9430,2019-08-23 16:42:02.2440,358.0,Christopher St & Greenwich St,40.732916,-74.007114,340.0,Madison St & Clinton St,40.712690,-73.987763,19668,Subscriber,1958,1
2094376,551,2019-08-28 16:35:12.1980,2019-08-28 16:44:24.0760,298.0,3 Ave & Schermerhorn St,40.686832,-73.979677,3382.0,Carroll St & Smith St,40.680611,-73.994758,19821,Subscriber,1979,2
1817189,968,2019-08-24 21:53:22.6880,2019-08-24 22:09:31.6470,293.0,Lafayette St & E 8 St,40.730207,-73.991026,462.0,W 22 St & 10 Ave,40.746920,-74.004519,34163,Subscriber,1977,1
254780,533,2019-08-04 09:54:21.1330,2019-08-04 10:03:14.3780,3372.0,E 74 St & 1 Ave,40.768974,-73.954823,3734.0,E 58 St & 1 Ave (NW Corner),40.759125,-73.962658,32626,Subscriber,1983,2
1812196,153,2019-08-24 20:04:52.0900,2019-08-24 20:07:25.5510,3619.0,Newtown Ave & 23 St,40.771361,-73.924615,3721.0,31 St & Newtown Ave,40.767549,-73.920933,31416,Subscriber,1989,1
1746436,418,2019-08-23 23:38:51.3860,2019-08-23 23:45:49.8380,3656.0,E 2 St & Avenue A,40.723077,-73.985836,2003.0,1 Ave & E 18 St,40.733812,-73.980544,32088,Subscriber,1963,2
273246,1977,2019-08-04 13:52:05.0520,2019-08-04 14:25:02.3650,447.0,8 Ave & W 52 St,40.763707,-73.985162,328.0,Watts St & Greenwich St,40.724055,-74.009660,14857,Subscriber,1994,1
700736,496,2019-08-10 09:30:09.3820,2019-08-10 09:38:26.1950,2002.0,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,3112.0,Milton St & Franklin St,40.729060,-73.957790,38124,Customer,1969,0
2057808,798,2019-08-28 06:33:22.1240,2019-08-28 06:46:40.8260,405.0,Washington St & Gansevoort St,40.739323,-74.008119,336.0,Sullivan St & Washington Sq,40.730477,-73.999061,31032,Subscriber,1971,1
1228941,2203,2019-08-16 18:44:09.0480,2019-08-16 19:20:52.8030,281.0,Grand Army Plaza & Central Park S,40.764397,-73.973715,3143.0,5 Ave & E 78 St,40.776321,-73.964274,14923,Customer,1999,1

In [22]:
# 2. Check the datatypes of your columns. 
citibike_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [23]:
# 3-a Make a copy of the column "tripduration" and add it to the end of the DF and name it tripduration_int
citibike_df['tripduration_int'] = citibike_df['tripduration']
citibike_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
tripduration_int             int64
dtype: object

In [36]:
# 3. Convert the 'tripduration' column to datetime datatype.
citibike_df['tripduration'] = pd.to_datetime(citibike_df['tripduration'], unit='s')
# citibike_df['tripduration'] = pd.to_datetime(citibike_df['tripduration'],'s')

In [37]:
# 4. Check the datatypes of your columns. 
citibike_df.dtypes

tripduration               datetime64[ns]
starttime                          object
stoptime                           object
start station id                  float64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                    float64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
tripduration_int                    int64
dtype: object

In [39]:
# View sample of the updated DF
citibike_df.sample(7)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,tripduration_int
1110414,1970-01-01 00:08:45,2019-08-15 12:49:41.8930,2019-08-15 12:58:27.8190,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,3725.0,2 Ave & E 72 St,40.768762,-73.958408,39054,Subscriber,1947,1,525
970126,1970-01-01 00:13:19,2019-08-13 16:51:28.0260,2019-08-13 17:04:47.5870,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,3132.0,E 59 St & Madison Ave,40.763505,-73.971092,31967,Subscriber,1963,1,799
1127485,1970-01-01 00:04:55,2019-08-15 16:54:03.8420,2019-08-15 16:58:59.2320,3664.0,North Moore St & Greenwich St,40.720195,-74.010301,327.0,Vesey Pl & River Terrace,40.715338,-74.016584,15071,Subscriber,1977,1,295
559900,1970-01-01 00:16:27,2019-08-08 12:36:38.7520,2019-08-08 12:53:06.4730,3164.0,Columbus Ave & W 72 St,40.777057,-73.978985,448.0,W 37 St & 10 Ave,40.756604,-73.997901,14632,Subscriber,1955,2,987
1919220,1970-01-01 00:12:18,2019-08-26 12:18:00.9990,2019-08-26 12:30:19.9490,3163.0,Central Park West & W 68 St,40.773407,-73.977825,3725.0,2 Ave & E 72 St,40.768762,-73.958408,33997,Subscriber,1964,2,738
305921,1970-01-01 00:15:18,2019-08-04 19:56:33.3800,2019-08-04 20:11:51.4260,3286.0,E 89 St & 3 Ave,40.780628,-73.952167,3499.0,2 Ave & E 122 St,40.800672,-73.934900,20134,Customer,1992,1,918
1198387,1970-01-01 00:06:23,2019-08-16 13:44:56.7580,2019-08-16 13:51:20.0740,359.0,E 47 St & Park Ave,40.755103,-73.974987,528.0,2 Ave & E 31 St,40.742909,-73.977061,39097,Subscriber,1991,2,383

In [28]:
# 5. Export the Dataframe as a new CSV file without the index.
output_data_filename = "NYC_CityBike_data_cleaned.csv"
citibike_df.to_csv(output_data_filename, index=False)